interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?concept_id=C2237824918-ORNL_CLOUD
  response:
    body:
      string: '{"feed":{"updated":"2025-06-11T12:15:07.250Z","id":"https://cmr.earthdata.nasa.gov:443/search/collections.json?concept_id=C2237824918-ORNL_CLOUD","title":"ECHO
        dataset metadata","entry":[{"processing_level_id":"4","cloud_hosted":true,"boxes":["-53
        -180 55.7983 180"],"has_combine":false,"time_start":"2019-04-17T00:00:00.000Z","version_id":"2.1","updated":"2025-04-14T22:32:09.000Z","dataset_id":"GEDI
        L4A Footprint Level Aboveground Biomass Density, Version 2.1","entry_id":"GEDI_L4A_AGB_Density_V2_1_2056_2.1","has_spatial_subsetting":true,"has_transforms":false,"associations":{"variables":["V2682445598-ORNL_CLOUD","V2682445818-ORNL_CLOUD","V2682439058-ORNL_CLOUD","V2682445711-ORNL_CLOUD","V2682442552-ORNL_CLOUD","V2682440264-ORNL_CLOUD","V2682444745-ORNL_CLOUD","V2682440114-ORNL_CLOUD","V2682444692-ORNL_CLOUD","V2682445732-ORNL_CLOUD","V2682442528-ORNL_CLOUD","V2682443090-ORNL_CLOUD","V2682440078-ORNL_CLOUD","V2682440286-ORNL_CLOUD","V2682440006-ORNL_CLOUD","V2682440751-ORNL_CLOUD","V2682438776-ORNL_CLOUD","V2682445682-ORNL_CLOUD","V2682441539-ORNL_CLOUD","V2682446364-ORNL_CLOUD"[...]
