name: Unittest xcube-gedidb

on:
  push:

jobs:
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]

    steps:
      - name: checkout xcube-gedidb
        uses: actions/checkout@v4

      - name: Set up MicroMamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install and Test
        shell: bash -l {0}
        run:
          pytest test/ --cov=xcube_gedidb --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  PyPi-Deploy:
    name: Publish Python Package to PyPI
    runs-on: ubuntu-latest
    needs: unittest